PaymentServer/.vs/
PaymentServer/packages/
PaymentServer/PaymentServer/bin/
PaymentServer/PaymentServer/obj/
PaymentAndroid/PaymentAndroid/obj/
PaymentAndroid/.vs/
PaymentAndroid/PaymentAndroid/bin/
PaymentAndroid/packages/
